.product-grid {
    display: flex;
    grid-template-columns: repeat(4, 3fr);
    /* 4 columns with equal width */
    grid-gap: 10px;
    /* Adjust the spacing between products */
}

.product-grid .product-item {
    border: 1px solid #ddd;
    padding: 3px;
    text-align: center;
}

.women-section {
    align-items: center;

}